<section class="features p-10 mb-6 md:mb-20 bg-light-prim-background rounded-[var(--cards-border-radius)]">
    <div class="flex flex-wrap justify-between">
        @for (card of featureData; track $index) {
            <div class="card">
                <div class="flex items-center">
                    <div class="image bg-primary rounded-full w-16 h-16 flex justify-center items-center">
                        <img [src]="card.image" [alt]="card.title">
                    </div>
                    <div class="ml-4">
                        <h1 class="font-semibold text-xl">{{card.title}}</h1>
                        <span class="text-activelink">{{card.desc}}</span>
                    </div>
                </div>
            </div>
        }
    </div>
</section>