<div class="test mt-32 flex flex-wrap justify-center items-center">
  <app-special-gift-banner
    class="mr-[25px]"
    [label]="specialGiftsBannerList[0].label"
    [title]="specialGiftsBannerList[0].title"
    [btnText]="specialGiftsBannerList[0].btnText"
    [imgSrc]="specialGiftsBannerList[0].imageSrc"
  ></app-special-gift-banner>
  <app-special-gift-slider></app-special-gift-slider>
</div>

<ul class="mt-3 flex flex-wrap justify-center items-center">
  @for (card of specialGiftsCardsList; track $index) {

  <li [class]="'mt-2 ' + ($last ? '' : 'mr-[24px]')">
    <app-special-gift-card
      [label]="card.label"
      [title]="card.title"
      [btnText]="card.btnText"
      [imgSrc]="card.imageSrc"
    ></app-special-gift-card>
  </li>
  }
</ul>
