<div class="input-container">
  @if (label()) {
  <label>{{ label() }}</label>
  }

  <input
    [type]="inputType()"
    [placeholder]="inputPlaceholder()"
    (blur)="onTouched()"
    (change)="onChange($event)"
    [disabled]="disabled"
    class="input-container__custom-input"
    [class.is-invalid]="formControl.invalid && formControl.touched"
    [class.is-valid]="formControl.valid && formControl.touched"
    [ngClass]="{
      focused: formControl.touched,
      disabled: disabled
    }"
  />

  <!-- Show validation errors -->

  <div class="error">
    @if(formControl.touched){ @if(formControl.errors?.['required']){
    <small class="invalid-feedback">Please enter</small>
    } @if(formControl.errors?.['email']){
    <small class="invalid-feedback">Invalid email format</small>
    }@if(formControl.errors?.['minlength']){
    <small class="invalid-feedback"
      >Minimum length is
      {{ formControl.errors?.['minlength']?.requiredLength }} characters</small
    >
    } }
  </div>
</div>
