

.popular__active {
    color: var(--active-color);
    text-decoration-line: underline;
    text-underline-offset: 15%;
    text-decoration-thickness: 13.5%;
    text-underline-position: from-font;
}

