.special-gift-card__wrapper {
  padding: 10px;
  width: 411px;
  height: 272px;
  border-radius: var(--cards-border-radius);
}

.special-gift-card__wrapper__contet {
  width: 188px;
  margin-left: auto;
}
