<div class="special-gift-card rounded-[12px]">
  <!-- bg-[url(\'' +imgSrc +'\')] -->
  <div
    [class]="
      'special-gift-card__wrapper bg-cover bg-no-repeat text-end flex justify-end items-center'
    "
    [style.backgroundImage]="'url(' + imgSrc + ')'"
  >
    <div
      class="special-gift-card__wrapper__contet mx-[8px] flex flex-col items-end gap-2"
    >
      <p
        class="m-0 mb-2 text-primary font-[400] text-[16px] leading-[19.36px]"
        [style]="'color:' + labelColor + ';'"
      >
        {{ label }}
      </p>
      <p class="m-0 mb-3 text-accent font-[600] text-[20px] leading-[24.2px]">
        {{ title }}
      </p>
      <app-primary-btn
        btnClasses="gap-2 rounded-[20px] p-[8px]"
        [btnText]="btnText"
        btnTextClasses="font-[400] text-[14px] leading-[16.94px]"
      ></app-primary-btn>
    </div>
  </div>
</div>
