<div
  id="default-carousel"
  class="relative w-[956px] h-[441px]"
  data-carousel="slide"
>
  <!-- Carousel wrapper -->
  <div class="relative h-full overflow-hidden rounded-lg">
    <div
      [id]="'carousel-item-1'"
      [class]="'duration-700 ease-in-out h-full'"
      data-carousel-item
    >
      <div
        class="slide__content bg-cover bg-center bg-no-repeat h-full flex flex-col items-start justify-center"
        [style.backgroundImage]="
          'url(' + specialGiftsSliderList[0].imageSrc + ')'
        "
      >
        <div
          class="container w-[381px] relative left-[56px] flex flex-col items-start"
        >
          <p
            class="uppercase font-[700] text-primary text-[20px] leading-[24.6px] tracking-[3.73px] mb-[24px]"
          >
            {{ specialGiftsSliderList[0].label }}
          </p>
          <p
            class="text-accent font-[700] text-[45px] leading-[50.33px] mb-[16px]"
            [innerHTML]="specialGiftsSliderList[0].title"
          ></p>
          <p
            class="text-accent font-[400] text-[16px] leading-[27.96px] mb-[24px]"
          >
            {{ specialGiftsSliderList[0].description }}
          </p>
          <a
            href=""
            class="h-[40px] w-[123px] flex items-center gap-[4.666px] bg-primary text-white rounded-[9px] py-[6.52px] px-[13.98px] border-0 shadow-[0px_0px_37.28px_4.66px_#0000000D] text-[14.91px] leading-[26.84px] font-[500]"
            ><span class="text-[14.91px] leading-[26.84px] font-[500]">{{
              specialGiftsSliderList[0].btnText
            }}</span>
            <img
              src="/right-arrow.svg"
              class="w-[13px] h-[15px]"
              alt="right arrow"
              srcset=""
          /></a>
        </div>
      </div>
    </div>

    @for (item of specialGiftsSliderList.slice(1); track $index) {
    <div
      [id]="'carousel-item-' + ($index + 1)"
      [class]="'duration-700 ease-in-out h-full'"
      data-carousel-item
    >
      <div
        class="slide__content bg-cover bg-center bg-no-repeat h-full flex flex-col items-start justify-center"
        [style.backgroundImage]="'url(' + item.imageSrc + ')'"
      >
        <div
          class="container w-[381px] relative left-[56px] flex flex-col items-start"
        >
          <p
            class="uppercase font-[700] text-primary text-[20px] leading-[24.6px] tracking-[3.73px] mb-[24px]"
          >
            {{ item.label }}
          </p>
          <p
            class="text-accent font-[700] text-[45px] leading-[50.33px] mb-[16px]"
            [innerHTML]="item.title"
          ></p>
          <p
            class="text-accent font-[400] text-[16px] leading-[27.96px] mb-[24px]"
          >
            {{ item.description }}
          </p>

          <app-primary-btn
            btnClasses="h-[40px] w-[123px] gap-[4.666px] rounded-[9px] py-[6.52px] px-[13.98px] shadow-[0px_0px_37.28px_4.66px_#0000000D]"
            [btnText]="item.btnText"
            btnTextClasses="text-[14.91px] leading-[26.84px] font-[500]"
            btnIcon="/right-arrow.svg"
          ></app-primary-btn>
        </div>
      </div>
    </div>
    }
  </div>
  <!-- Slider indicators -->
  <div
    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    @for(number of sliderIndicators; track $index){
    <button
      type="button"
      class="w-3 h-3 rounded-full"
      [attr.aria-current]="$first ? true : false"
      [attr.aria-label]="'Slide ' + (number + 1)"
      data-carousel-slide-to="0"
    ></button>
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute bottom-0 end-[125px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="absolute bottom-[24px] inline-flex items-center justify-center w-10 h-10 rounded-full bg-white dark:bg-gray-800/30 group-hover:bg-white dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <img
        src="/slider-control-icon.svg"
        class="w-[15px] h-[24px] scale-x-[-1]"
        alt=""
        srcset=""
      />
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-[72px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="absolute bottom-[24px] inline-flex items-center justify-center w-10 h-10 rounded-full bg-white dark:bg-gray-800/30 group-hover:bg-white dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <img
        src="/slider-control-icon.svg"
        class="w-[15px] h-[24px]"
        alt=""
        srcset=""
      />
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>
