<section>
  <app-payment-section-title title="Your Shipping Address" />

  <form class="flex flex-col mt-4" [formGroup]="shippingForm">
    <app-custom-input
      [label]="'Street'"
      labelClasses="text-accent font-normal text-base leading-7 mb-2 block"
      [inputPlaceholder]="'Street'"
      [inputType]="'text'"
      inputName="Street"
      formControlName="street"
      inputClasses="border-[#DEE2E6] border-solid border-[1px] rounded-lg shadow-none py-[15px] px-5"
    />

    <app-custom-input
      [label]="'Phone Number'"
      labelClasses="text-accent font-normal text-base leading-7 mb-2 block"
      [inputPlaceholder]="'Phone Number'"
      [inputType]="'text'"
      inputName="Phone Number"
      formControlName="phone"
      inputClasses="border-[#DEE2E6] border-solid border-[1px] rounded-lg shadow-none py-[15px] px-5"
    />

    <app-custom-input
      [label]="'City'"
      labelClasses="text-accent font-normal text-base leading-7 mb-2 block"
      [inputPlaceholder]="'City'"
      [inputType]="'text'"
      inputName="City"
      formControlName="city"
      inputClasses="border-[#DEE2E6] border-solid border-[1px] rounded-lg shadow-none py-[15px] px-5"
    />

    <p class="text-accent font-normal text-base leading-7 mb-2">Location :</p>

    <div class="map-wrapper w-10/12 m-auto rounded-lg overflow-hidden">
      <div
        class="map-wrapper__map border-[2px] border-solid border-primary rounded-lg p-2"
      >
        <google-map
          [options]="mapOptions"
          height="500px"
          width="100%"
          (mapClick)="mapClick($event)"
        >
          <map-marker
            [options]="markerOptions"
            [position]="markerOptions.position"
          ></map-marker>
        </google-map>
      </div>
    </div>
  </form>
</section>
