<section class="about-us flex">
  <div class="about-us__start-side"></div>
  <div class="about-us__end-side">
    <div class="about-us__end-side__top max-w-[343px] mb-4 flex flex-col">
      <app-section-tag
        tagClasses="text-start"
        tagName="About Us"
        class="block mb-6"
      />
      <div class="about-us__end-side__top__text-container mb-6">
        <p class="m-0 text-accent leading-10 text-3xl font-bold">
          We Provide Best And Quality
          <span class="text-primary">Gifts Box</span> Product For You
        </p>
        <p class="text-descText font-normal text-base leading-7">
          Recusandae tempora aut laborum molestias veniam. A commodi sequi
          accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta
          necessitatibus ut ad.
        </p>
      </div>

      <app-primary-btn
        class="flex"
        btnClasses="px-5 py-[10px] rounded-[10px]"
        btnText="Discover More"
        btnTextClasses="font-medium text-base leading-7"
        btnIcon="/arrow.png"
        btnIconClasses="ml-[5px] h-4 w-[14px]"
      ></app-primary-btn>
    </div>
    <div class="about-us__end-side__bottom max-w-[343px] flex flex-col"></div>
  </div>
</section>
