<div class="mt-40 container">
    <p class="text-lg font-bold tracking-[4px] text-text-f82ba9 mb-10 max-sm:ms-3">Contact Us</p>

    <div class=" md:flex justify-between ">
        <div class="contact-details w-[90%] md:w-[348px] md:h-[440px] ps-6 max-sm:mx-auto">
            <div class="flex items-center pt-10">
                <div class="w-[70px] h-[70px] border rounded-[10px] flex justify-center items-center text-3xl text-text-f82ba9"><i class="fa-solid fa-phone-volume"></i></div>
                <div class="ms-4 mb-2">
                    <p class="text-xl text-text-f82ba9 font-bold">Call Anytime</p>
                    <p>241-373-2123</p>
                </div>
            </div>
            
            <div class="flex items-center my-[69px]">
                <div class="w-[70px] h-[70px] border rounded-[10px] flex justify-center items-center text-3xl text-text-f82ba9"><i class="fa-solid fa-envelope"></i></div>
                <div class="ms-4 mb-2">
                    <p class="text-xl text-text-f82ba9 font-bold">Send Email</p>
                    <p>Dwight63gmail.com</p>
                </div>
            </div>
            <div class="flex items-center mb-10">
                <div class="w-[70px] h-[70px] border rounded-[10px] flex justify-center items-center text-3xl text-text-f82ba9"><i class="fa-solid fa-location-pin"></i></div>
                <div class="ms-4 mb-2">
                    <p class="text-xl text-text-f82ba9 font-bold">Visit Us</p>
                    <p>20 Island Park Road, </p>
                    <p>New Jearsy, New York, USA</p>
                </div>
            </div>
        </div>
        <div class="w-[90%] md:w-3/5 contact-details max-sm:mx-auto">
            <div class="pt-[34px]" >
                <div class="pb-6">
                    <input type="text" class="block w-5/6 rounded-[10px] ps-4 border-text-f82ba9 mx-auto placeholder:text-text-f82ba9" placeholder="Name">
                </div>
                <div class="pb-6">
                    <input type="email" class="block w-5/6 rounded-[10px] border-text-f82ba9 ps-4 mx-auto placeholder:text-text-f82ba9" placeholder="Email">
                </div>
                <div class="pb-6">
                    <input type="tel" class="block w-5/6 rounded-[10px] border-text-f82ba9 ps-4 mx-auto placeholder:text-text-f82ba9" placeholder="Phone">
                </div>
                <div class="max-sm:pb-8">
                    
                    <textarea rows="7" class="block ps-4 w-5/6 text-sm text-gray-900  rounded-lg border border-text-f82ba9 mx-auto placeholder:text-text-f82ba9 placeholder:text-base" placeholder="Your Message"></textarea>
                </div>

            </div>

        </div>
    </div>
    <div class="text-end mt-2 mb-16">
        <button class="w-[96px] h-[45px] rounded-[30px] bg-text-f82ba9 text-white ">send<i class="fa-solid fa-arrow-right"></i></button>
    </div>
</div>

