<p class="text-5xl bg-slate-400">main-layout works!</p>

<ul class="mt-32 flex justify-around items-center">
  <li>
    <app-special-gift-card
      label="Gifts Box"
      title="Awesome Gifts Box Collectons"
      btnText="Shop Now"
      imgSrc="/special-gift-card_3.png"
    ></app-special-gift-card>
  </li>
  <li>
    <app-special-gift-card
      label="Occasion Gifts"
      title="Best Occasion Gifts Collections"
      btnText="Discover Now"
      imgSrc="/special-gift-card_2.png"
    ></app-special-gift-card>
  </li>
  <li>
    <app-special-gift-card
      labelColor="#fff"
      label="Occasion Gifts"
      title="Combo Sets Gift Box Up To 50% Off"
      btnText="Discover Now"
      imgSrc="/special-gift-card_1.png"
    ></app-special-gift-card>
  </li>
</ul>
