
<div class="w-full h-full text-start">
    <h1 class="text-accent text-3xl font-normal mb-1">Delivery</h1>
    <h2 class="text-accent text-[26px] font-normal">Shipments and <br> returns</h2>
    <h2 class="text-accent text-[26px] font-normal">Your pack shipment</h2>
    <div class="text-start my-4">
        <p class="text-policy text-xl font-normal">Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum <br>
             expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum <br>
              dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque <br>
               voluptatem eum dolorem cum expedita.</p>
        <p class="text-policy text-xl font-normal my-4">Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum <br>
             expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum <br>
              dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque <br>
               voluptatem eum dolorem cum expedita.</p>
        <p class="text-policy text-xl font-normal pb-4">Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum dolorem cum <br>
             expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque voluptatem eum <br>
              dolorem cum expedita.Ipsam optio qui ut sit minima eveniet voluptatem molestiae distinctio. Magnam nulla qui doloremque <br>
               voluptatem eum dolorem cum expedita.</p>

    </div>

    
</div>
